/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4rem;
}

.zbozi {
  display: flex;
  flex-direction: row;
  width: 670px;
  height: 440px;
  margin: 15vh auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #959595;
}

.vizual {
  background: linear-gradient(#06d7c1, #50cc49);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 50%;
  padding: 30px;
  color: #fff;
}

.cenovka {
  position: relative;
  top: -70px;
  text-align: right;
}

.slogan {
  font-size: 16px;
  font-weight: 500;
}

.cena {
  font-size: 28px;
  font-weight: 500;
}

.zaruka {
  font-size: 12px;
  font-weight: 400;
}

.bota {
  position: relative;
  left: -120px;
}

.detaily {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 50%;
  padding: 30px;
  background-color: #fff;
}

.nazev {
  font-size: 20px;
  font-weight: 500;
}

.produkt {
  color: #959595;
}

.popis {
  border-bottom: 1px solid #06d7c1;
  padding: 15px 0;
}

.velikosti li {
  list-style: none;
  display: inline;
  padding: 5px;
  margin: 6px;
}

ul.velikosti {
  padding-left: 0;
}

li.vybrana {
  border: 1px solid #f15f42;
  border-radius: 50%;
  color: #f15f42;
}

.akce {
  position: relative;
  top: 35px;
}

.tlacitko {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #f15f42;
  border-radius: 10px;
  padding: 12px;
  width: 50%;
}
